@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}


.container {
    margin:0px auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

ul>li {
    list-style: none;
}

header{
    grid-column: span 3;
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
    display: flex;
   justify-content: space-between;
}

.btn{
    border: 1px solid black;
    border-radius: 70px;
    margin: 5px;
    padding: 8px 24px;
    color: black;
    text-decoration: none;
}
.btn:hover {
    background-color: black;
    color: white; 
}

img{
    width: 100%;
}

nav ,
aside{
    padding: 20px;
    border-right: 1px solid #ddd;
}

aside{
    border-right: 0px;
    border-left: 1px solid #ddd;
}

nav>ul>li,
nav>p,
aside>ul>li,
aside>p {
     padding-bottom: 10px;
}

nav>p ,
aside>p {
    font-weight: bold;
}

article{
    padding: 20px;
}

footer{
    grid-column: span 3;
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #ddd;
}

footer>p{
    font-weight: bold;
}

@media (max-width:900px)  {
    nav{
        display: grid;
        grid-column: span 3;
        justify-content: center;
        border-right: 0px;
        border-bottom: 1px solid #ddd;
        
    }

    nav>ul{
        display: flex;
        gap: 20px;
    }

    nav>p {
        text-align: center;
    }

    article{
        grid-column: span 3;
        border-bottom: 1px solid #ddd;
    }


    aside{
         grid-column: span 3;

    }

}

@media(max-width:600px){
    article>h1{
        font-size: 25px;

    }
}

