   .container {
      background-color: #f8f9fa;
      margin: auto;
      max-width: 1400px;
      box-sizing: border-box;
    }
    .navbar-brand {
      font-weight: bold;
    }
    .navbar-text{
      margin-left:5px ;
    }

   
    main{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
    }

    .col> .row{
        padding: 5px ;

    }
    @media (max-width:980px) {
      main{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
      }
    }

        @media (max-width:876px) {
      main{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
      }
    }
       @media (max-width:678px) {
      main{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
      }
    }

       @media (max-width:576px) {
      main{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
      }
    }
 